# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Temporary Uploads
uploads/

# Coverage Reports
coverage/

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# ESLint Cache
.eslintcache

# Misc
*.tmp
*.temp